name: Sync repo metadata

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.CREATE_TOPIC_TOKEN }}
          script: |
            const { owner, repo } = context.repo;

            const languages = await github.rest.repos.listLanguages({
              owner,
              repo
            });

            const langs = Object.keys(languages.data);
            if (langs.length === 0) return;

            const mainLang = langs[0];

            const topicsMap = {
              JavaScript: ['javascript', 'web', 'frontend'],
              TypeScript: ['typescript', 'web'],
              Java: ['java', 'backend'],
              Python: ['python', 'automation']
            };

            const topics = topicsMap[mainLang] || [mainLang.toLowerCase()];
            topics.push("featured-project");
            await github.rest.repos.update({
              owner,
              repo,
              description: `This project is mainly written in ${mainLang}`
            });

            await github.rest.repos.replaceAllTopics({
              owner,
              repo,
              names: topics
            });
